*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background: url(images/pexels-vojtech-okenka-392018.jpg) no-repeat center center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#add-task-container{
    background-color: #fff;
    width: 350px;
    padding: 20px 10px;
    border-radius: 10px;
    box-shadow: 0 0 3px;
    display: flex;
    margin: 20px;
    
}

input{
    flex: 5;
    margin-right:10px ;
    border-radius: 10px;
    font-size: 1.2rem;
    padding: 5px;
}

#add-task{
    flex: 1;
    transition: .3s;
    padding: 5px;
    color: green;
    border: solid green 2px;
    border-radius: 5px;
    font-size: 1.2rem;
}

#add-task:hover{
    background-color: green;
    color: #fff;
}

.task{
    width: 100%;
    background-color: #fff;
    padding: 5px;
    border-radius:10px ;
    box-shadow: 0 0 3px;
    margin-bottom: 5px;

    display: flex;
    justify-content: space-between;

}

.task li{
    list-style: none;
    flex: 4;
    padding: 5px;
    margin: 10px;
    font-size: 1.2rem;
}
.task button{
    flex: 1;
    border-radius: 10px;
    background-color: #fff;
    cursor: pointer;
}

.task .delete-box{
    color: red;
    border: 2px solid red;
    font-size: 1.4rem;

}
.task .check-box{
    color: orange;
    border: 2px solid orange;
    font-size: 1.6rem;
    margin-right: 5px;
}

.task .delete-box:hover{
    background-color: red;
    color: #fff;
}

.task .check-box:hover{
    background-color: orange;
    color: #fff;
}

